version: '3.7'

services:
  api:
    build:
      context: .
      args:
        NODE_ENV: development
    command: yarn start:dev
    ports:
      - '3000:3000'
    volumes:
      - .:/home/node/app
      - /home/node/app/node_modules
